main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

p {
    padding-top: 20px;
    color: #07F2B0;
}

input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.input-radio {
    display: inline-flex;
}

form {
    margin: 20px 0;
    width: 80vw;
    border: solid 2px #07F2B0; 
    border-radius: 10px;
    padding: 10px;
}


label, h4 {
    color: #07F2B0;
}

textarea {
    width: 100%;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px;
    display: block;
    color: #fff;
    background-color: #07F2B0;
    font-size: 20px;
}

label {
    margin-top: 15px;
    color: #07F2B0;
}
