.img-sexo {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.img-sexo img {
    width: 40vw;
    margin-bottom: 20px;
}

.img-grupos {
    margin: 50px 0;
}

.img-grupos img {
    width: 40vw;
    margin-bottom: 30px;
}

.header-index p {
    color: #065bf1;
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: larger;
}

.img-sexo p {
    color: #065bf1;
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: larger;
}

.img-grupos p {
    color: #065bf1;
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: larger;
}