main {
    display: inline-block;
    margin-top: 50px;
    width: 100vw;
    max-width: 100%;
}

.quem-somos p {
    padding-top: 20px;
    color: #065bf1;
}

.quem-somos {
    padding-bottom: 20px;
    margin-bottom: 60px;
}
