body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-color: #011F26;
}

.div-header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    padding-right: 10px;
    padding-left: 10px;
    color: #07F2B0;
}

.div-header img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.nav-container {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
    font-size: 18px;
    color: #07F2B0;
    text-align: center;
}

a {
    color: #07F2B0;
    text-decoration: none;
}