main {
    display: inline-block;
    margin-top: 50px;
}

main h2 {
    padding-top: 20px;
    color: #065bf1;
    font-size: larger;
}

input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
    width: 80vw;
    border: solid 2px #065bf1; 
    border-radius: 10px;
    padding: 10px;
}

label, h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #065bf1;
}

textarea {
    width: 100%;
}

button {
    margin-top: 20px;
    background-color: #065bf1;
    font-size: 20px;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px;
    display: block;
    color: #fff;
    background-color: #065bf1;
    font-size: 20px;
}