main {
    display: inline-block;
    margin-top: 50px;
}

h2 {
    padding-top: 20px;
    color: #07F2B0;
}

input {
    width: 100%;
}

form {
    margin-top: 20px;
}

h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #07F2B0;
}

textarea {
    width: 100%;
}

button {
    margin-top: 20px;
    background-color: #07F2B0;
    font-size: 20px;
}

a {
    color: #FFFFFF;
}