main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

main p {
    font-size: large;
    padding-top: 20px;
    color: #065bf1;
}

input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.input-radio {
    display: inline-flex;
}

form {
    margin: 20px 0;
    width: 80vw;
    border: solid 2px #065bf1; 
    border-radius: 10px;
    padding: 10px;
}


label, h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #065bf1;
}

textarea {
    width: 100%;
}

button {
    margin-top: 20px;
    background-color: #065bf1;
    font-size: 20px;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px;
    display: block;
    color: #fff;
    background-color: #065bf1;
    font-size: 20px;
}

table {
    border: 1px solid black;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 28px;
}

th {
    background-color: #06E8BB;
    color: #333;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #bbfff1;
}


h2 {
    margin-top: 40px;
}