main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-sexo {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.img-sexo img {
    width: 30vw;
    margin-bottom: 10px;
}

.img-grupos {
    margin: 30px 0;
}

.img-grupos img {
    width: 30vw;
    margin-bottom: 30px;
}

.header-index p {
    color: #065bf1;
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: xx-large;
}

.img-sexo p {
    color: #065bf1;
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: larger;
}

.img-grupos p {
    color: #065bf1;
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: larger;
}

table {
    border: 1px solid black;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 28px;
}

th {
    background-color: #06E8BB;
    color: #333;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #bbfff1;
}