* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

body {
	background-color: #FFFFFF;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-image: url("../images/landscape.png");
	background-size: cover;
	background-attachment: fixed;
}

.div-header nav ul li {
	width: 200px;
	display: block;
	text-align: center;
	float: left;
	line-height: 2.5;
	font-size: 16px;
	color: #1D1073;
	padding-top: 20px;
}

.div-header {
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

h3 {
	padding-right: 10px;
	padding-left: 10px;
	color: #1D1073;
}